.search-result {
    height: 200px;
}
.site-footer {
    background: rgba(255,202,181,1);
    padding: 20px 0;
  }

/* This class centers the SearchBar and SearchFilter on the homepage */
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* This class removes left and right margins on the SearchBar and SearchFilter on the search results page */
.remove-margin {
  margin-left: 0;
  margin-right: 0;
}

/* This class sets the height of each Card and makes it scrollable */
.scroll {
  height: 400px;
  overflow-y: auto;
}

/* This makes the search filters expand the entier width. Due to Navbar, without this class, the search filters get pushed left */
.search-filters {
  display: flex;
  width: 100%;
  align-content: flex-start;
}

/* This class lines the toggler icon with the search bar */
.search-filter-toggler {
  margin-left: 30px;
}

.test {
  align-items: flex-start;
}