body {
  background-color: #343a40;
}

.search-result {
    height: 200px;
}
.site-footer {
    /* background: rgba(255,202,181,1); */
    background-color: #343a40;
    padding: 20px 0;
  }

/* This class centers the SearchBar and SearchFilter on the homepage */
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* This class removes left and right margins on the SearchBar and SearchFilter on the search results page */
.remove-margin {
  margin-left: 0;
  margin-right: 0;
}

/* This class sets the height of each Card and makes it scrollable */
.scroll {
  height: 400px;
  overflow-y: auto;
}

/* This makes the search filters expand the entier width. Due to Navbar, without this class, the search filters get pushed left */
.search-filters {
  display: flex;
  width: 100%;
  align-content: flex-start;
}

/* This class lines the toggler icon with the search bar */
.search-filter-toggler {
  margin-left: 30px;
}

/* Overides the automatic align-items: center that the Collapse componenet has */
.filter-align-top {
  align-items: flex-start;
}

.jumbotron {
  background-color: white !important ;
}

/* Styling for JoinCreateComponent */

.joinCreateContainer {
  background-color: white;
}

.joinCreateHeader {
  color: black;
  text-align: center;
}

.joinCreateText {
  color: black;
  text-align: center;
}

.joinCreateParagraph {
  color: black;
  text-align: center;
  margin: 0px 150px;
}

.joinCreateRow {
  justify-content: center;
}

.joinCreateCol {
  text-align: center;
}
/***********************************************/

/* Styling for FeaturedProjects */

.featuredContainer {
  background-color: white;
}

.featuredHeader {
  color: black;
  text-align: center;
}

.featuredImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}

.featuredRow {
  justify-content: center;
}

.featuredCol {
  text-align: center;
  padding: 0px 5px
}

/***********************************************/
